# Don't add private keys into vcs
chef/**/*.pem

# Vim plugins should be reinstalled on new setup
vim/plugged

# tmux plugins will be pulled from source
tmux/plugins

# neovim excludes
nvim/plugin
.DS_Store
.idea

fish/fish_variables
